*{
margin:0px;
padding:0px;
}
html{
width:100%;
height:100%;
}
body{
width:100%;
background:#2F7B4D;
}
.center_container{
margin:0px auto;
float:none !important;
}
.logo{margin:50% 0px 0px 0px; }
.custom_image{width:100%;}
.inputstyle{
background:transparent;
border:2px solid #fff;
color:#fff;
}
.select_option option{background:#7FD28A;}
.inputsumit{float:right;}
#sceenone{display:block;}
#screen_two{display:none;}
#screen_three{display:none; position:relative;}
.top_heading.top{text-align:Center;color:#2F7B4D; background:#fff;}
.top_heading h3{margin:-3px 0px 0px 0px; text-transform:uppercase;text-align:left; text-indent: 25px;}
.top .top_heading_container{padding:20px 0px; background:#fff;}
.doctor_box{background:#fff; margin:20px 0px 0px 0px;/* border-radius:190px 0 0 485px; */}
.doctor_icon{background:url("http://s14.postimg.org/fqauipxp9/021.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
width:90px;height:90px;    margin-left: -10px;
    margin-top: -17px;}
.doctor_contain{  float: right;}
.doctor_contain h5{margin-bottom:4px;font-weight:bold; color:#0D703A;}
.doctor_contain h4{color:#fff; margin:0px 0px 0px 15px;}
.doctor_contain p{color:#0D703A;font-size:11px;margin-bottom:2px;}
.doctor_icon_map{background:url("http://s30.postimg.org/ku5n7pnt9/location.png") no-repeat 0 0 rgba(0, 0, 0, 0);
-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
width:15px;height:18px;}
.address{font-size:12px;}
.addres_content{font-size:11px;color:#0D703A;}
.get_appointment{background:url("http://s18.postimg.org/6wm73bld1/get_an_app.png") no-repeat 0 0 rgba(0, 0, 0, 0);
-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
width:159px;height:38px;float:right;margin-right:-28px;margin-top:10px; cursor:pointer;}
.list_style_doc{list-style:none;}
textarea {resize: none;}
::-webkit-input-placeholder {
   color: #222222;
}

:-moz-placeholder { /* Firefox 18- */
   color: #222222;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #222222;  
}

:-ms-input-placeholder {  
   color: #222222;  
}
.appointment_area{margin:20px 0px 0px 0px;}
.page_loading{ position: absolute;
top:20px;
display:none;
margin:0 auto;
 width:100%; 
 height:100%;
 background:url("http://s10.postimg.org/74c1dk739/ajax_loader.gif") no-repeat center center rgba(0, 0, 0, 0);
z-index: 9999; 
}

.formlabel{font-weight:normal;color:#fff;}


